N8N_VERSION=2.40.7
N8N_SANDBOX_VERSION=1.5.0

N8N_RUNNERS_AUTH_TOKEN=CHANGE_ME
SANDBOX_API_KEYS=CHANGE_ME
SANDBOX_API_RUNNER_REGISTRATION_TOKEN=CHANGE_ME
SANDBOX_API_RUNNER_API_KEY=CHANGE_ME
N8N_SANDBOX_SERVICE_API_KEY=CHANGE_ME